[Desktop Entry]
Name=Youtube
Icon=firefox
Terminal=true
Exec=firefox youtube.com
Type=Application
MimeType=inode/directory
Categories=Utility;Core;System;FileTools;FileManager;ConsoleOnly
Keywords=File;Manager;Explorer;Browser;Launcher
