* {
    font-size:21px;
    font-family: "JetBrains Mono Nerd Font";
}

window#waybar{
    background: #2e2c2f;
}

tooltip {
    color: blue;
}

#custom-swaync {
    padding: 0px 2px;
    color: #489ca5;
    transition: all .2s ease;
    padding-top: 5px;
}
  
#workspaces {
    padding: 0px 2px;
}

#workspaces button {
    all:unset;
    padding: 0px 10px;
    color: #729b79;
}

#workspaces button.active {
    color: #729b79;
    border: none;
}

#workspaces button:hover {
    color:rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}

#workspaces button.empty {
    color: #252326;
    border: none;
}

#workspaces button.empty:hover {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}

#workspaces button.empty.active {
    color: #729b79;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#custom-placeholder {
    padding: 0px 2px;
    color: #489ca5;
    transition: all .2s ease;
}

#tray {
  color: white;
  padding: 0px 2px;
}

#custom-binaryClock {
  padding-bottom: 5px;
}
